//colors
$gray: #9c9c9c;
$green: #1abc9c;
$black: #2d2d2d;


//typography
$text-color: $gray;
$headings-color: $black;
$font-family-base: "Raleway", "Arial", sans-serif;
$html-size-base: 10px;
$font-size-base: 1.4rem;
$font-size-h1: 4.4rem;
$font-size-h2: 2.2rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.8rem;
$font-size-h5: 1.3rem;
$line-height-base: 1.2857142857; //18px/14px


//breakpoints
$small: 480px;
$middle: 768px;
$large: 992px;