html
{
    box-sizing: border-box;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}


body
{
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;

    min-width: 320px;

    color: $text-color;
    background-color: $body-bg;
}

// IE9 Lato font fix
.ie9 body
{
    font-family: 'Arial', 'Times New Roman', sans-serif;
}

p,
h1,
h2,
h3
{
    margin: 0;
}

h2
{
    font-size: $font-size-h2;

    margin: 0 0 10px;

    color: $green;
}

h3
{
    font-size: $font-size-h3;
}

input,
button,
select,
textarea
{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    border: none;
    outline: none;
}


a
{
    text-decoration: none;

    color: $green;

    @include trans;

    &:hover
    {
        color: lighten($green, 20%);
    }

    &:active
    {
        color: darken($green, 5%);
    }
}

ol,
ul
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

img
{
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

.wrapper
{
    margin: 0 0 0 20%;

    @include breakpoint(middle)
    {
        margin: 0;
    }
}

.wrapper-pad
{
    padding: 20px 5%;
}


.btn
{
    font-size: $font-size-base;
    font-weight: 700;

    display: inline-block;

    padding: 10px 5px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background: $green;

    @include trans;

    &--full-width
    {
        width: 100%;
        margin: 0 0 10px;
    }

    &--half-width
    {
        width: 48%;
        margin-right: 4%;
    }

    &--one-third-width
    {
        width: 30%;
        margin-right: 3.3333333333%;
    }

    &:hover
    {
        color: #fff;
        background: lighten($green, 10%);
    }

    &:active
    {
        color: #fff;
        background: darken($green, 5%);
    }
}
