html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  min-width: 320px;
  background-color: $body-bg;
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
}

// IE9 Lato font fix
.ie9 body {
  font-family: "Arial", "Times New Roman", sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h2 {
  margin: 0 0 10px;
  color: $green;
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

input,
button,
select,
textarea {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}


a {
  color: $green;
  text-decoration: none;

  @include trans;

  &:hover {
    color: lighten($green, 20%);
  }

  &:active {
    color: darken($green, 5%);
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.wrapper {
  margin: 0 0 0 20%;

  @include breakpoint(middle) {
    margin: 0;
  }
}

.wrapper-pad {
  padding: 20px 5%;
}


.btn {
  display: inline-block;
  padding: 10px 5px;
  border-radius: 5px;
  background: $green;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: $font-size-base;
  cursor: pointer;

  @include trans;

  &--full-width {
    margin: 0 0 10px;
    width: 100%;
  }

  &--half-width {
    margin-right: 4%;
    width: 48%;
  }

  &--one-third-width {
    margin-right: 3.3333333333%;
    width: 30%;
  }

  &:hover {
    background: lighten($green, 10%);
    color: #fff;
  }

  &:active {
    background: darken($green, 5%);
    color: #fff;
  }
}