.contacts
{
    .wrapper-pad
    {
        @include clearfix;
    }

    &__list
    {
        font-size: 16px;

        float: right;

        width: 48%;

        @include breakpoint(middle)
        {
            float: none;

            width: 100%;
            margin: 0 0 30px;
        }
    }

    &__item
    {
        margin: 0 0 12px;

        @include breakpoint(middle)
        {
            margin: 0 0 5px;
        }

        &::before
        {
            font-family: 'fontello';
            font-size: 16px;

            display: inline-block;

            width: 15px;
            margin-right: 15px;

            color: $green;
        }

        &--city
        {
            &::before
            {
                content: '\e802';
            }
        }

        &--phone
        {
            &::before
            {
                content: '\e803';
            }
        }

        &--email
        {
            &::before
            {
                content: '\e804';
            }
        }

        &--skype
        {
            &::before
            {
                content: '\e805';
            }
        }
    }

    &__form
    {
        float: left;

        width: 48%;

        @include breakpoint(middle)
        {
            float: none;

            width: 100%;
        }

        input[type='text'],
        textarea
        {
            width: 100%;
            margin: 0 0 15px;
            padding: 10px 20px;

            border: 1px solid #f4f4f4;
            border-radius: 5px;

            @include trans;
            @include placeholder($gray);

            &:hover
            {
                border-color: lighten($green, 20%);
            }

            &:focus
            {
                border-color: $green;
            }
        }

        textarea
        {
            height: 150px;

            resize: none;
        }
    }

    &__buttons
    {
        font-size: 0;

        input:last-child
        {
            margin-right: 0;
        }
    }
}
