.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 30px 0;
  width: 20%;
  height: 100%;
  background: $green;
  color: #fff;
  text-align: center;

  @include breakpoint(middle) {
    position: static;
    padding: 20px 0 0;
    width: 100%;
  }

  &__image {
    overflow: hidden;
    margin: 0 auto 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    img {
      max-width: 200px;
      transform: translateX(-26px) translateY(-4px);
    }
  }

  &__title {
    font-size: 22px;
  }

  &__description {
    margin: 0 0 10px;
    color: #d1f1e9;
    font-style: italic;
    font-size: 16px;
  }
}


.social {
  &__link {
    display: inline-block;
    margin: 0 0 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      background: #fff;
      color: $green;
    }
  }
}

.navigation {
  &__list-item {
    &:last-child {
      a {
        border: none;
      }
    }
  }

  &__link {
    display: block;
    border-bottom: 2px solid #5ccfb0;
    color: #fff;
    text-transform: uppercase;
    line-height: 3.571;

    &:hover,
    &--active {
      border-color: #fff;
      background: #fff;
      color: $green;
    }
  }
}