.skills
{
    border-bottom: 6px solid #f4f4f4;

    &__item
    {
        position: relative;

        padding-left: 20px;

        &::before
        {
            position: absolute;
            top: 4px;
            left: 0;

            width: 10px;
            height: 10px;

            content: '';

            border-radius: 50%;
            background: $green;
        }
    }
}
